@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

$amarelo: #f99400;

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

.nav {
  position: fixed;
  background-color: #fff;
  z-index: 1;
  width: 100%;
  .nav-content {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 1rem;

    .logo {
      height: 32px;
      margin-top: 5px;
      margin-left: 10px;
      margin-right: 15px;
    }
    span {
      text-align: center;
      font-size: 1.2rem;
      font-weight: bold;
      margin-right: 15px;
    }
  }
  .nav-border {
    min-height: 2px;
    height: 2px;
    background: linear-gradient(to bottom left, #00dca6, #315afa);
  }
}

.content {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 70px;
  .description {
    margin-top: 50px;
    margin-bottom: 50px;
    h1 {
      font-size: 2.5rem;
      font-weight: bold;
      margin-bottom: 10px;
    }
    p {
      font-size: 1.2rem;
      line-height: 1.5;
      margin-bottom: 30px;
    }
  }
}

.menus {
  display: flex;
  background-color: #ddd;
  padding: 10px;

  .btn {
    font-size: 1rem;
    background-color: #3498db;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    cursor: pointer;
    margin: 0.2rem 1rem;
    &:hover {
      background-color: #2980b9;
    }
    &:disabled {
      cursor: default;
      background-color: #aaa;
    }
  }
}

// style the info class to look like a card
.info {
  background-color: #f4f4f4;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  margin-bottom: 0;
  .card-title {
    margin-bottom: 0;
    font-weight: 700;
    font-size: 1.5rem;
  }
  .card-text {
    padding: 20px;
    // style the list to look like bootstrapS
    ul {
      margin-bottom: 0;
      margin-left: 0;
      margin-block-start: 0;
      padding-block-start: 0;
      padding: 0;
      // remove bullets
      li {
        display: inline-block;
        list-style: none;
        padding: 10px;
        margin: 10px;
        border-radius: 5px;
        margin-bottom: 0;
        font-weight: 700;
        font-size: 0.9rem;
        background-color: #e8e8e8;
        color: #555;
        &:hover {
          background-color: #d4d4d4;
        }
      }
    }
  }
  .card-text img {
    width: 100%;
  }
  // styles counter class to look like a floating badge
  .counter {
    float: right;
    margin-top: -20px;
    margin-right: -20px;
    font-size: 2rem;
    // set the background color to be slighly darker than the info card
    background-color: #e8e8e8;
    padding: 1rem;
    border-radius: 5px;
    color: #333;
    font-weight: 700;
  }
}

// style the select element to be like bootstrap's
select {
  padding: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  font-size: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  &:focus {
    border-color: #3498db;
    outline: none;
  }
  &:hover {
    background-color: #e9e9e9;
  }
  &:active {
    background-color: #ebebeb;
  }
  &:disabled {
    cursor: default;
    background-color: #aaa;
  }
  // style the option elements
  option {
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    font-size: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 0.5rem;
    // remove the default border
    border: none;
    // remover the default option border on desktops
    border-bottom: 1px solid #ddd;
    // style the selected option
    &:selected {
      background-color: #3498db;
      color: white;
    }
    &:hover {
      background-color: #e9e9e9;
    }
    &:active {
      background-color: #ebebeb;
    }
    &:disabled {
      cursor: default;
      background-color: #aaa;
    }
  }
}

#info-template {
  display: none;
}
.banner {
  display: grid;
  grid-template-rows: 1fr;
  background-color: gray;

  &.hopin {
    width: 1500px;
    min-width: 1500px;
    max-width: 1500px;
    height: 600px;
    min-height: 600px;
    max-height: 600px;
    .content-wrap {
      background: url("https://nevente.github.io/hopin-banner-creator/themes/hopin/bg.jpg");
    }
    &.satelite {
      .content-wrap {
        background: url("https://nevente.github.io/hopin-banner-creator/themes/hopin/bg2.jpg");
      }
    }
    &.extra {
      .content-wrap {
        background: url("https://nevente.github.io/hopin-banner-creator/themes/hopin/bg3.jpg");
      }
    }
    &.espacial {
      .content-wrap {
        background: url("https://nevente.github.io/hopin-banner-creator/themes/hopin/bg5.jpg");
      }
    }
    &.treino {
      .content-wrap {
        background: url("https://nevente.github.io/hopin-banner-creator/themes/hopin/bg4.jpg");
      }
    }
  }
  &.youtube {
    width: 1280px;
    min-width: 1280px;
    max-width: 1280px;
    height: 720px;
    min-height: 720px;
    max-height: 720px;
    &.exatas {
      .content-wrap {
        background: url("https://nevente.github.io/hopin-banner-creator/themes/youtube/exatas.png");
        background-size: cover;
      }
    }
    &.humanas {
      .content-wrap {
        background: url("https://nevente.github.io/hopin-banner-creator/themes/youtube/humanas.png");
        background-size: cover;
        .event {
          color: #000;
        }
      }
    }
    &.principal {
      .content-wrap {
        background: url("https://nevente.github.io/hopin-banner-creator/themes/youtube/principal.png");
        background-size: cover;
        .session {
          color: #000;
        }
      }
    }
    &.mostra {
      .content-wrap {
        background: url("https://nevente.github.io/hopin-banner-creator/themes/youtube/mostra.png");
        background-size: cover;
      }
    }
    &.vida {
      .content-wrap {
        background: url("https://nevente.github.io/hopin-banner-creator/themes/youtube/vida.png");
        background-size: cover;
      }
    }
    .content-wrap {
      background-size: cover;
    }
  }
  &.expo {
    width: 1500px;
    min-width: 1500px;
    max-width: 1500px;
    height: 750px;
    min-height: 750px;
    max-height: 750px;
    .content {
      display: none !important;
    }
    .content-wrap {
      background: url("/themes/expo/bg.png");
    }
    position: relative;
    overflow: hidden;
    .water-mark {
      position: absolute;
      bottom: -550px;
      right: -700px;
    }
  }
  .topline {
    height: 25px;
    min-height: 25px;
    max-height: 25px;
    display: block;
    background-color: $amarelo;
  }

  .content-wrap {
    padding: 50px 100px;
    display: grid;
    place-items: center;
    background-size: cover;
    background-position-y: center;
    .content {
      display: grid;
      margin: auto 0;
      place-items: center;
      grid-template-rows: auto auto 1fr;
      gap: 20px;
      color: white;
      .logo {
        width: 125px;
      }
      .event {
        font-weight: 700;
        font-size: 42px;
        color: $amarelo;
        text-align: center;
      }
      .session {
        font-weight: 900;
        font-size: 65px;
        text-align: center;
        small {
          font-size: 50px;
          font-weight: 500;
          display: block;
        }
      }
      .people {
        text-align: center;
        font-size: 25px;
        color: $amarelo;
        font-weight: 700;
        small {
          color: white;
          font-weight: 500;
          font-size: 18px;
        }
      }
    }
  }
  &.long {
    .session {
      font-size: 36px !important;
      small {
        font-size: 24px !important;
        font-weight: 500;
        display: block;
      }
    }
  }
}

#banners {
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  gap: 20px;
  padding: 20px;
}
#link {
  display: none;
}
#hopin-template,
#youtube-template,
#expo-template {
  display: none;
}
